body {
  background-color: skyblue !important;
}
.ctrl-key {
  font-weight: 400;
  display: inline-block;
  min-width: 60px;
  padding: 10px 16px;
  font-size: 15px;
}
.spl-keys .ctrl-key{
  min-width: 40%;
}
header {
  background: grey;
  color: white;
  padding: 0;
  margin: 0;
  height: 45px;
}
header a, header a:visited, header a:focus{
  color: white;
  font-size: 20px;
  text-decoration: none;
}
header .l-icon a {
  padding: 10px 0 10px 15px;
}

header .r-icon a {
  padding: 10px 15px 10px 0;
}
header .r-icon {
  text-align: right;
}
header .title {
  margin: 4px auto;
  text-align: center;
  line-height: 2rem;
}
header div {
  display: inline-block;
}
.search {
  padding: 15px;
}
.search input[type='text'] {
  width: 100%;
}
/*.search label:nth-child(2) input[type='radio'] {
  margin-left: 15px
}*/
